.footer {
  background: #f5f5f5;
}

.footer-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 40px 20px;
  align-items: center;
}
.footer h1 {
  max-width: 38ch;
  font-size: 1.225rem;
  line-height: 1.4;
}
.footer h1 span {
  /* text-decoration: underline; */
  font-weight: bold;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 22px;
}

.footer li:last-child:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .footer ul {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .footer h1 {
    max-width: 15ch;
    font-size: 0.875rem;
    line-height: 1.4;
  }
  .footer ul li,
  .footer ul li a {
    font-size: 0.875rem;
  }
  .footer ul {
    gap: 10px;
  }
}
