body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p,
a,
li,
ul {
  font-weight: 100;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  color: #131313;
  font-family: "IBM Plex Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.title {
  font-size: 5rem;
  text-transform: uppercase;
  color: #e0e0e0;
  position: relative;
}


@media (max-width: 800px) {
}

@media (max-width: 500px) {
}
