body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p,
a,
li,
ul {
  font-weight: 100;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  color: #131313;
  font-family: "IBM Plex Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/* titulo */
.title {
  font-size: 5rem;
  text-transform: uppercase;
  color: #e0e0e0;
  position: relative;
}

/* before das li's */
.style-li {
}
.style-li li a {
  cursor: pointer;
  display: inline-block;
  padding: 7px 6px;
  border: 1px solid transparent;
  transition: 0.2s;
  display: flex;
  align-items: center;
}
.style-li li a::before {
  cursor: pointer !important;
  content: "";
  display: inline-block;
  width: 9px;
  height: 4px;
  background: #e0e0e0;
  margin-right: 10px;
  transition: width 0.2s;
}
@media (hover: hover) and (pointer: fine) {
  .style-li li a:hover:before {
    width: 18px;
  }
}

.style-li li a:hover {
  /* border-color: #a9a9a9; */
}

/* acabou */

@media (max-width: 800px) {
}

@media (max-width: 500px) {
}
